@font-face {
  font-family: "Gotham Narrow";
  src: url("../fonts/GothamNarrow-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Narrow";
  src: url("../fonts/GothamNarrow-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham Narrow";
  src: url("../fonts/GothamNarrow-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

:root {
  --drey-font: "Gotham Narrow", "Arial Narrow", Arial, sans-serif;
  --drey-text: #554727;
  --drey-legend-text: #32302b;
}